.form__button {
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   color: #ffffff;
   width: 358px;
   height: 50px;
   background: #000000;
   border-radius: 2px;
   margin-top: 16px;
   box-sizing: border-box;
   padding: 0;
   cursor: pointer;
   transition: 0.5s ease;
   border: 0;
}
.form__button:hover {
   opacity: 0.8;
}

@media screen and (max-width: 767px) {
   .form__button {
      width: 238px;
      height: 46px;
      font-size: 14px;
      line-height: 17px;
      margin-top: 14px;
   }
}
