.profile__info {
   max-width: 340px;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   margin-left: 30px;
}

@media screen and (max-width: 767px) {
   .profile__info {
      max-width: 245px;
      margin: 28.25px auto 0;
      text-align: center;
   }
}
