.page {
   font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   text-rendering: optimizeLegibility;
   min-height: 100vh;
   width: 100%;
   background: #000000;
}
