.page {
   font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   text-rendering: optimizeLegibility;
   height: 100%;
   width: 100%;
   background: #000000;
   margin: 0 auto;
}
