.popup__close {
   width: 32px;
   height: 32px;
   position: absolute;
   margin: 0;
   padding: 0;
   background: #000000;
   top: -35px;
   right: -35px;
   background-image: url(../../../images/close.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-color: transparent;
   box-sizing: border-box;
   border: none;
   cursor: pointer;
   transition: all 0.5s ease;
}
.popup__close:hover {
   opacity: 0.6;
}
@media screen and (max-width: 767px) {
   .popup__close {
      width: 20px;
      height: 20px;
      top: -35px;
      right: 0;
      background-image: url(../../../images/ckoselittle.svg);
   }
}
