.profile__btn {
   display: inline-block;
   cursor: pointer;
   border: 1px solid #ffffff;
   width: 24px;
   height: 24px;
   background: #000000;
   background-image: url(../../../images/pencil.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: auto;
   padding: 0;
   box-sizing: border-box;
   transition: 0.5s ease;
}
.profile__btn:hover {
   opacity: 0.6;
}
@media screen and (max-width: 767px) {
   .profile__btn {
      width: 18px;
      height: 18px;
      margin: 8px 0 0 10px;
   }
}
