@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);
@import url(./blocks/header/header.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__container-avatar/profile__container-avatar.css);
@import url(./blocks/profile/__btn-avatar/profile__btn-avatar.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__btn/profile__btn.css);
@import url(./blocks/profile/__button/profile__button.css);
@import url(./blocks/list/list.css);
@import url(./blocks/list/__items/list__items.css);
@import url(./blocks/list/__image/list__image.css);
@import url(./blocks/list/__item/list__item.css);
@import url(./blocks/list/__title/list__title.css);
@import url(./blocks/list/__like-container/list__like-container.css);
@import url(./blocks/list/__toggle/list__toggle.css);
@import url(./blocks/list/__like-counter/list__like-counter.css);
@import url(./blocks/list/__btn/list__btn.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/_is-active/popup_is-active.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__pictures-container/popup__pictures-container.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__error/form__error.css);
@import url(./blocks/form/__error/_visible/form__error_visible.css);
@import url(./blocks/form/__error/_type/form__error_place_top.css);
@import url(./blocks/form/__error/_type/form__error_place_bottom.css);
@import url(./blocks/form/__item/form__item.css);
@import url(./blocks/form/__item/_type/form__item_type_error.css);
@import url(./blocks/form/__button/form__button.css);
@import url(./blocks/form/__button/_type/form__button_type_disabled.css);
