.header {
   display: flex;
   max-width: 880px;
   min-height: 74px;
   width: 100%;
   justify-content: space-between;
   margin: 0 auto;
   padding: 0;
   box-sizing: border-box;
   border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 767px) {
   .header {
      min-height: 56px;
      padding-left: 27px;
      padding-right: 19px;
   }
}
